<section id="order-id-{{order.id}}" class="order clearfix">
  <a href="#totalAnchor" class="float-right">TOTAL</a>
  <section class="order-items">
    {{> cart-lineitem line_item=order.line_item}}
  </section>
  <section id="totalAnchor" class="shopping-cart-footer">
    <h5 id="total" class='total'>
      TOTAL $
      <span class="amount"></span>
    </h5>
    <button id="checkout" class="checkout" type="button">Checkout</button>
  </section>
</section>
