.state-credentials, .state-change-password {
  min-width: 320px;
  height: auto;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 2px 2px #ccc;
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  & .form {
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 5px;
    text-align: center !important;
    background: #FFF;
    & .input-group {
      display: flex;
      justify-content: center;
      & .input-group-prepend {
        & span {
          display: none;
        }
      }
      & input {
        background: #FFF;
        color: #111;
        border: 0;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
      }
      & button {
        margin-top: 15px;
        border-radius: 20px;
      }
    }
  }
}
