.state-previous-orders {
  & .previous-orders-header {
    & h3 { // header
      padding: 15px;
      margin: 20px;
    }
  }

  & .order {
    box-shadow: 0 2px 2px #ccc;
    padding: 15px;
    margin: 20px;
    & h4 { // order's header
      font-size: .8rem;
      & .total {
        font-size: 1rem;
      }
    }
    & .product {
      width: 100%;
      margin: auto;
      margin-bottom: 10px;
      padding: 15px;
      box-shadow: 0px 1px 0px 0px #ccc;
      display: flex;
      flex-direction: row;
      & img {
        width: 297px;
      }
      & div {
        margin: 10px;
        padding: 15px;
        width: 100%;
        & h5 {
          color: #0066c0;
          width: 100%;

        }
        & p {
          color: #B12704;
        }
      }
    }
  }
}
